#map { 
    margin: 0 auto;
    height: 80vh; 
    width: 90vw;
}
.currentLocation{
    text-align: center;
}

.coordinatesSearch{
    text-align: center;
}

.coordinatesSearch label {
    display: block;
    margin: 10px 0px 0px 0px;
}


.coordinatesSearch input{
    text-align:center;
    margin: 5px;
    width: 85%;
    padding: 5px;
}

.coordinatesSearch button{
    width: 87%;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}